*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:auto;
    background:#0b4e7d;
}

.map-wrapper{
    width:100%;
    overflow:auto;
}

.map{
    position:relative;
    width:100%;
    min-width:1200px;
}

#map{
    width:100%;
    height:auto;
    display:block;
}

#hotspots{
    position:absolute;
    inset:0;
}

/* ==========================
      Island Common
========================== */

.island{

    position:absolute;

    border-radius:50%;

    cursor:pointer;

    transition:.25s;

}


/* Hover */

.island:hover{

    background:rgba(255,255,255,.18);

    outline:4px solid gold;

    box-shadow:

        0 0 30px gold,

        inset 0 0 20px rgba(255,255,255,.4);

}
