*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#2a6ca5;
    overflow:hidden;
    font-family:Arial;
}

.map-wrapper{
    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.map{
    position:relative;
    width:min(100vw, calc(100vh * 1.6));
    min-width:1200px;
}

#map{
    width:100%;
    display:block;
}

#hotspots{
    position:absolute;
    inset:0;
}

/* ==========================
      Island Common
========================== */

.island{

    position:absolute;

    border-radius:50%;

    cursor:pointer;

    transition:.25s;

}


/* Hover */

.island:hover{

    background:rgba(255,255,255,.18);

    outline:4px solid gold;

    box-shadow:

        0 0 30px gold,

        inset 0 0 20px rgba(255,255,255,.4);

}
